@page
@model RazorPagesTutorial.Pages.IndexModel
@{
}
@* <h1>This is Index Pages.........!</h1> *@
<div class="d-flex justify-content-between ">
    <div class="card" style="width: 22rem;">
        <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://picsum.photos/200/140" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
